@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
}

header {
    background-color: #303030;
}

header > h1 {
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav.menu-lateral {
    background-color: #303030;
    box-shadow: 3px 0 0 #ff4500;
    height: 100%;
    overflow: hidden;
    padding: 30px 0px 30px 2%;
    position: fixed;
    left: 0;
    top: 0;
    transition: .5s;
    width: 50px;
}

nav.menu-lateral.expand {
    width: 175px;
}

.btn-expand {
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
}

.btn-expand > span {
    color: #fff;
    font-size: 20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul > li {
    transition: .5s;
}

ul > li.active {
    background-color: #ff4500;
    border-radius: 10px 0px 0px 10px;
}

ul > li.item-menu:hover { 
    background-color: #ff4500;
    border-radius: 10px 0px 0px 10px;
}

ul > li > a {
    color: #fff;
    display: flex;
    /* font-size: 1.3em; */
    margin-bottom: 20px;
    padding: 20px 4%;
    text-decoration: none;
    line-height: 30px;
}

ul > li > a > span.txt-link {
    font-size: 10px;
    margin-left: 75px;
    opacity: 0;
    transition: .5s;
}

nav.menu-lateral.expand .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul > li > a > span.icon {
    font-size: 20px;
    margin-left: 4px;
}

footer {
    background-color: #303030;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
}

footer > p > a {
    text-decoration: none;
    color: #fff;
}

footer > p a:hover {
    color: #ff4500;
    text-decoration: underline;
}